footer {
  position: absolute;
  bottom: 0;
  margin-top: 100px;
  position: relative;
  bottom: 0;
  min-height: 200px;
  padding: 20px 0 0 170px;
  background-color: var(--menu-bg-color);
  text-align: center;
  color: var(--text-color);
  box-shadow: 1px 1px 9px 0px var(--menu-shadow-color);
}

ul {
  list-style-type: none;
}