<div id="form">
  <label for="name">title:</label>
  <input id="name" type="text" [(ngModel)]="model.title" />
  <label for="name">content:</label>
  <input id="name" type="text" [(ngModel)]="model.content" />
  <label for="name">image:</label>
  <input id="name" type="url" [(ngModel)]="model.image" />
  <label for="name">subjectName:</label>
  <input id="name" type="text" [(ngModel)]="model.subjectName" />
  <label for="name">sourceName:</label>
  <input id="name" type="text" [(ngModel)]="model.sourceName" />
  <label for="name">link:</label>
  <input id="name" type="text" [(ngModel)]="model.link" />
  <div>
    <button class="saveBtn" (click)="saveAndCloseForm()">Save</button>
    <button class="cancelBtn" (click)="closeForm()">Cancel</button>
  </div>
</div>
