.ajax-section{
   margin-left: auto;
   margin-right: auto;
   background: #eee;
   background: linear-gradient(120deg, #23272a ,  rgba(12, 61, 124, 0.253), #23272a);
   color: rgb(242, 245, 248);
   font-family: 'Open Sans Condensed', sans-serif;
   display: flex;
   width: 28%;
   justify-content: space-around;
}
.city {
  margin-top: 20px;
  border-right: #ffffff;
}
