.ajax-section {
  margin-left: auto;
  margin-right: auto;
  color: rgb(242, 245, 248);
  display: flex;
  width: 28%;
  justify-content: space-around;
  color: var(--text-color);
}

.city {
  margin-top: 20px;
  border-right: #ffffff;
}

.city-icon {
  width: 13px;
}