:host {
  transition: box-shadow ease-in-out 0.35s;
 margin: 10px;
 cursor: pointer;
 box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
 transition: 0.3s;
}
:host:hover {
  transform: scale(1.03);
  z-index: 2;
  -webkit-box-shadow: 5px 9px 7px -2px rgba(0,0,0,0.28); 
   box-shadow: 5px 9px 7px -2px rgba(0,0,0,0.28);
}
.item{
 width: 100%; 
 height: 100%;
 font-family: system-ui;
 background-color: #ffffff;
 font-size: 1.25rem;
 overflow: hidden; 
 }

 
 /* img:hover {-webkit-filter: brightness(110%); } */

 .imagee{
   width: 100%;
   height: 45%;
   position: relative;
   display: inline-block;
   overflow: hidden;
   margin: 0;
 }
 
 .imagee > img {
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;
   min-height: 100%;
   min-width: 100%;
   transform: translate(-50%, -50%);
 }

 .content{
    padding: 10px;
 }
 a:link {
   text-decoration: none;
 }
 a:hover {
   color: #90b9e1;
   -webkit-text-stroke: 0.3px black;
  
 }
 a{
   color: #3e92cc;
  padding-left: 5px;
 }
 .line {
   margin-top: 8px ;
   height: 16px;
   width: 3px;
   background: #3e92cc;
   z-index: 1;
}
.subjectInfo{
   display: flex;
   align-self: flex-end;
   margin-left: 5px;
   margin-bottom: none;
 
}