*, html, body {
    margin: 0px;
    padding: 0px;
 }
 .item{
 width: 296px; 
 height: 320px;
 font-family: system-ui;
 background-color: #ffffff;
 margin: 5px 5px;
 font-size: 1.25rem;
 cursor: pointer;
 }
 img:hover {-webkit-filter: brightness(110%); }

 .content{
    padding: 7px;
 }