
body {
   margin: 0;
    font-family: 'acta-display', serif;
  }
  .topnav {
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
  }
  .menu-items { 
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    
  }
   a{
    font-family: 'acta-display', serif;
    color: #f9f9f9;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    width: fit-content;
    padding: 10px;
    height: 55px;
    border: 0;
    border-radius: 15%;
    /* -webkit-transition: all 0.2s ease-in-out; */
    /* transition: all 0.2s ease-in-out; */
    /* transition: all 1s ease-in-out; */
  }

 
 
  /* $type: line;
  p {
    @if $type == line1 {
      color: blue;
    } @else if $type == line2 {
      color: red;
    } @else if $type == line3 {
      color: green;
    } @else {
      color: black;
    }
  } */
  a:nth-child(1):hover{
    color: #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
  }
 a:nth-child(2):hover{
  color: #8b1826;
  border-left: 1px solid #8b1826;
  border-right: 1px solid #8b1826;
}
a:nth-child(3):hover{
  color: #18467a;
  border-left: 1px solid #18467a;
  border-right: 1px solid #18467a;
}
a:nth-child(4):hover{
  color: #969300;
  border-left: 1px solid #969300;
  border-right: 1px solid #969300;
}
a:nth-child(5):hover{
  color: #186115;
  border-left: 1px solid #186115;
  border-right: 1px solid #186115;
  
}
a:nth-child(6):hover{
  color: #774679;
  border-left: 1px solid #774679;
  border-right: 1px solid #774679;
}
a:nth-child(7):hover{
  color: #571d5c;
  border-left: 1px solid #571d5c;
  border-right: 1px solid #571d5c;
}
a:nth-child(8):hover{
  color: #16207e;
  border-left: 1px solid #16207e;
  border-right: 1px solid #16207e;
}



  /* .menu-items a::before {
    content: attr(data-item);
     transition: all 1s ease-in-out; 
    color: #8254ff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
  } */

  /* .menu-items a:hover .menu-items a::before{
      width: 100%;
  } */


   
  /*.menu-items .dot {
    width: 6px;
    height: 6px;
    background: #FFF8DC;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .menu-items a:nth-child(1):hover ~ .dot {
    -webkit-transform: translateX(50px);
    transform: translateX(45px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .menu-items a:nth-child(2):hover ~ .dot {
    -webkit-transform: translateX(110px);
    transform: translateX(130px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .menu-items a:nth-child(3):hover ~ .dot {
    -webkit-transform: translateX(200px);
    transform: translateX(225px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .menu-items a:nth-child(4):hover ~ .dot {
    -webkit-transform: translateX(285px);
    transform: translateX(313px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  .menu-items a:nth-child(5):hover ~ .dot {
    -webkit-transform: translateX(110px);
    transform: translateX(400px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  .menu-items a:nth-child(6):hover ~ .dot {
    -webkit-transform: translateX(110px);
    transform: translateX(494px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  .menu-items a:nth-child(7):hover ~ .dot {
    -webkit-transform: translateX(110px);
    transform: translateX(580px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  .menu-items a:nth-child(8):hover ~ .dot {
    -webkit-transform: translateX(110px);
    transform: translateX(670px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  } */
/*fgfh*/
.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #CDCDCD;
  font-size: 17px;
  border: none;
  cursor: pointer;
  height: 37.5px;
  width: 37.5px;;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #CDCDCD;  
    
  }
}

  .searchIcn {
    height: 28px;
    object-position:  top;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  