<div class="topnav">
  <div class="menu-items">
    <a href="/home" data-item="Home">Home</a>
    <a href="/news" data-item="News">News</a>
    <a *ngFor="let subject of subjects" href="/news/{{ subject.id }}">{{
      subject.name
    }}</a>
  </div>
  <div class="addItem" (click)="navigateNewItem()">
    <i class="fa fa-plus"></i>
    <span class="tooltiptext">Add Item</span>
  </div>

  <div class="search-container">
    <input
      #box
      [(ngModel)]="value"
      (keydown.enter)="navigate()"
      type="text"
      placeholder="Search.."
      name="search"
    />
    <button type="submit" (click)="navigate()">
      <i class="fa fa-search"></i>
    </button>
  </div>
</div>
