<div class="topnav">
  <div class="menu-items">
    <a href="/home">Home</a>
    <a href="/news">News</a>
    <a *ngFor="let subject of subjects" href="/news/{{ subject.id }}">{{
      subject.name
    }}</a>
    <a class="dropdown">
      <span>...</span>
      <div class="dropdown-content" (click)="navigate()">
        <p>Tell us what's new</p>
      </div>
    </a>
    <div class="search-container">
      <form action="/action_page.php">
        <input type="text" placeholder="Search.." name="search" />
        <button type="submit">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>
    <!-- <div class="searchA">
      <img
        class="searchIcn"
        src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-512.png"
        alt=""
      />
    </div>
    <div><input type="text"></div> -->
  </div>
</div>
