.scroll {
    overflow: hidden;
    overflow-y: auto;
    height: calc(100vh - 48px);
    min-height: 100%;

}

.main-container {
    z-index: 0;
    position: relative;
    height: 100%;
    width: 100%;
}

app-top-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: var(--menu-bg-color);
    box-shadow: 0 2px 10px var(--menu-shadow-color);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
}

.newItem {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: aliceblue;
    z-index: 200;
    top: 57px
}

app-footer {
    bottom: 0;
}