
.scroll {
    overflow: hidden;
    overflow-y: auto;
    height: calc(100vh - 48px);
    min-height: 100%;
    
}
.main-container{
    position: relative;
    height: 100%;
    width: 100%;
}
 app-top-menu{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.568);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 1px solid rgba(0, 0, 0, 0.28);
    /* background-color: rgba(0, 0, 0, 0.801); */
    border-bottom: 0.2px solid rgb(105, 105, 105);
} 
app-footer{
    bottom: 0;
}
