.itemsFlex{    
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start ;
    margin-left: auto;
    margin-right: auto;
    border:none;
    padding-top: 30px;
    margin-top: 25px;   
    z-index: 0; 
}
.line {
    border: 1px solid;
    width: 368px;
    margin: auto;
    background-color: #011638;
}
.title {
    margin-top: 20px;
    margin: auto;
    width: 940px;
    display: flex;
    justify-content: center;
    color: #011638;
}
h3{
    font-family: sans-serif;
    size: 5px;
    letter-spacing: 1px;
}
.items-container {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    /* overflow-y: auto; */
  
    max-width: 940px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
app-item{
    width: 30%;
    height: 370px;
}
