
.module__content {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 80rem
}
.welcomeANDtime{
display: flex; 
flex-flow: row; 
justify-content: space-between}
#welcome{
  font-size: 1.375rem;
  font-weight: bold;
  color: rgb(252, 252, 252);
  margin-top: 8%;
}
#time{
    font-size: 1.375rem;
    margin-top: 8%;
    color: #dadada80;
    font-weight: normal;
}
* {box-sizing: border-box;
  display: block;
  margin-bottom: 7px;
}
body {
  font-family: 'acta-display', serif;
   margin-bottom: 20px;
   }

.imageBG{
  border-top:0.3px solid rgb(105, 105, 105);
  border-bottom:0.3px solid rgb(105, 105, 105);
  background-image: url("https://ychef.files.bbci.co.uk/1200x675/p08h02kk.jpg");
  background-repeat: no-repeat;
  height: 500px;
  padding: 3%;
}
.subject{
  color: #fff;
  font-size: 50px;
}   
.sport--button--container {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;}
.sport--button--container .sport--button{
    font-family: 'acta-display', serif;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    height: 40px;
    width: 165px;
    border: 1.5px solid white;
    border-radius: 18px;
    line-height: 32px;
    transition: background .3s ease;
}
.sport--button:hover {
background-color: #515052a8;
cursor: pointer;
}
.sport--button:hover .sport--button--svg {
  margin-right: 10px;
}
.sport--button--title{
  float: left;
  margin-left: 12px;
  margin-top: 2.5px;
}
.sport--button--svg{
  float: right;
  margin-right: 12px;
  margin-top: 6px;
  transition: margin-right .3s ease-in-out;
}
.items-row {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
app-wide-itm{
  width: 400px;
}
#itemsRowSubject{
  width: 100%;
  display: block;
}
app-item{
  height: 300px;
  width: 260px;
}
h1{
  font-family: 'acta-display', serif;
  font-size: bold;
  
}
h2 {
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: normal;
  margin-bottom: 1rem;
  font-family: 'acta-display', serif;
  font-weight: bold;
  color: #4a4a4a;
}